<div class="container">
    <h1>Lista de Uniformes</h1>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let item"> {{item.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef>Descrição</th>
            <td mat-cell *matCellDef="let item"> {{item.desc_uniforme}} </td>
        </ng-container>

        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef>Valor</th>
            <td mat-cell *matCellDef="let item"> {{item.valor_uniforme | currency: 'BRL': 'symbol' }} </td>
        </ng-container>

        <ng-container matColumnDef="quantidade">
            <th mat-header-cell *matHeaderCellDef>Quantidade</th>
            <td mat-cell *matCellDef="let item"> {{item.qtd_uniforme}} </td>
        </ng-container>

        <ng-container matColumnDef="valorPago">
            <th mat-header-cell *matHeaderCellDef>Valor Pago</th>
            <td mat-cell *matCellDef="let item"> {{item.valor_pgto | currency: 'BRL': 'symbol' }} </td>
        </ng-container>


        <ng-container matColumnDef="saldo">
            <th mat-header-cell *matHeaderCellDef>Saldo</th>
            <td mat-cell *matCellDef="let item" [ngClass]="{'saldo-devedor': calcularSaldo(item) > 0}"> {{calcularSaldo(item) | currency: 'BRL': 'symbol' }} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item">
                <button mat-icon-button (click)="openPagamentoDialog(item)">
                    <mat-icon color="primary">payments</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
</div>