/* Structure */
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .saldo-devedor {
    color: red;
}

.row-search{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    
    button {
        border-radius: 99px;
    }
}