<h2 mat-dialog-title>Detalhe do Recebimento</h2>
<mat-dialog-content>
    <table>
        <tr>
            <th>Nome</th>
            <th>Item</th>
            <th>Valor</th>
        </tr>
        @for (item of data; track item) {
        <tr>
            <td>{{item.nome}}</td>
            <td>{{item.item}}</td>
            <td>{{item.valor_item}}</td>
        </tr> 
        }
    </table>
</mat-dialog-content>
<mat-dialog-actions class="button-container">
    <button class="button" mat-flat-button color="primary" mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>