table {
    width: 100%;
}

.mat-column-vlrEvento {
    text-align: right;
}

.mat-column-vlrPago {
    text-align: right;
}

.mat-column-saldo {
    text-align: right;
}

.container {
    padding: 20px;
}

.conteudo-pdf {
    display: none;
}

.gera-pdf {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

button {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50px;
}
th {
    font-size: x-small;
    font-weight: bold;
}

td {
    font-size: x-small;
}

.mat-mdc-row {
    height: 30px;
}