<div class="container">
    <div class="gera-pdf">
        <button mat-flat-button color="primary"  printSectionId="prestacao-contas-pdf" [useExistingCss]="true" ngxPrint>Gerar PDF</button>
    </div>
    <div id="prestacao-contas-pdf" ngxPrint>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                <td mat-footer-cell *matFooterCellDef> {{dataSource.length}} Inscritos</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="evento">
                <th mat-header-cell *matHeaderCellDef> Evento </th>
                <td mat-cell *matCellDef="let element"> {{element.evento}} </td>
                <td mat-footer-cell *matFooterCellDef>Total: </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="vlrEvento">
                <th mat-header-cell *matHeaderCellDef> Valor Evento </th>
                <td mat-cell *matCellDef="let element" class="align-right"> {{element.vlrEvento | currency:'BRL':'symbol':'1.2-2' }} </td>
                <td mat-footer-cell *matFooterCellDef class="align-right" style="font-weight: bolder;">{{totalVlrEvento | currency:'BRL':'symbol':'1.2-2'}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="vlrPago">
                <th mat-header-cell *matHeaderCellDef> Valor Pago </th>
                <td mat-cell *matCellDef="let element" class="align-right"> {{element.vlrPago | currency:'BRL':'symbol':'1.2-2'}} </td>
                <td mat-footer-cell *matFooterCellDef class="align-right" style="font-weight: bolder;">{{totalVlrPago | currency:'BRL':'symbol':'1.2-2'}} </td>
            </ng-container>

            <ng-container matColumnDef="saldo">
                <th mat-header-cell *matHeaderCellDef> Saldo </th>
                <td mat-cell *matCellDef="let element" class="align-right"> {{ element.saldo | currency:'BRL':'symbol':'1.2-2'}} </td>
                <td mat-footer-cell *matFooterCellDef class="align-right" style="color: red; font-weight: bolder;">{{totalSaldo | currency:'BRL':'symbol':'1.2-2'}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
    </div>
</div>