.container {
    padding: 1rem;
}

h3 {
    padding-top: 1rem;
}

mat-form-field {
    width: 100%;
}

table {
    width: 100%;
    overflow-x: auto;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: #f5f5f5;
}

.demo-row-is-clicked {
    font-weight: bold;
    background-color: #f5f5f5;
}

.total {
    display: flex;
    font-weight: bold;
    background-color: #f5f5f5;
    font-size: 1rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    justify-content: space-between;
}

.botoes {
    display: flex;
    font-weight: bold;
    background-color: #f5f5f5;
    font-size: 1rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    justify-content: space-between;

    button {
        border-radius: 9999px;
        margin: 0 0.5rem 0 0.5rem;
    }
}

@media only screen and (max-width: 600px) {
    
    th, td {
        display: block;
        width: 100%;
      }
}