<div class="container">

    <h2 mat-dialog-title>Recibo</h2>

    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Desbravador</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"  autoActiveFirstOption>
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{option.nome}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>
    <div mat-dialog-actions class="button-container">
        <!-- <button class="button" mat-flat-button color="secondary" (click)="onCancelDialog()">CANCELAR</button>
        <button class="button" mat-flat-button color="primary" [mat-dialog-close]="data"
            cdkFocusInitial>INSERIR</button> -->
    </div>