<form [formGroup]="controlePagamentoForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="controle-pagamento">
        <mat-card-header>
            <mat-card-title>Controle de Pagamento</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row resp">
                <mat-form-field class="width-90">
                    <mat-label>Responsável</mat-label>
                    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto"
                        (keypress)="onValueChange()">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn" >
                        @for (option of filteredOptions | async; track option) {
                        <mat-option [value]="option" (onSelectionChange)="onResponsavelSelection(option)">{{option.nome_responsavel}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
                <button mat-mini-fab color="primary" class="button button-resp"
                    (click)="openResponsavelDialog(); $event.preventDefault()">
                    <mat-icon>plus_one</mat-icon>
                </button>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label class="full-width">Data</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="data">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        @if (controlePagamentoForm.controls['data'].hasError('required')) {
                        <mat-error>A data deverá ser informada </mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label class="full-width">Forma de Pagamento</mat-label>
                        <mat-select class="full-width" [(value)]="selectedFormaPagamento">
                            @for (tipo of formaPagamento; track tipo) {
                            <mat-option [value]="tipo">{{tipo}}</mat-option>
                            }
                        </mat-select>
                        @if (controlePagamentoForm.controls['responsavel'].hasError('required')) {
                        <mat-error>O nome do evento deverá ser informado </mat-error>
                        }
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label class="full-width">Descrição</mat-label>
                        <input matInput formControlName="descricao">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label class="full-width">Número do Recibo</mat-label>
                        <input matInput formControlName="recibo">
                    </mat-form-field>
                    @if (controlePagamentoForm.controls['recibo'].hasError('pattern')) {
                    <mat-error>Informar somente <strong>valor numérico</strong></mat-error>
                    }
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label class="full-width">Item</mat-label>
                        <mat-select class="full-width" [(value)]="selectedItem">
                            @for (item of itens; track item) {
                            <mat-option [value]="item">{{item}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <mat-list role="list">

                @for (lista of listaItensPago; track lista) {
                <mat-list-item class="list-item">
                    <div class="row">
                        <div class="col">
                            {{ lista.desbravador.nome }}
                        </div>
                        <div class="col right-align">
                            {{ lista.valor.toFixed(2) }}
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                }
            </mat-list>
            <div class="total">
                <span>Total {{ totalPago.toFixed(2)}}</span>
            </div>
            <mat-divider></mat-divider>

        </mat-card-content>

        <mat-card-actions class="button-container">
            <button mat-mini-fab color="primary" class="button" (click)="openItemDialog(); $event.preventDefault()">
                <mat-icon>plus_one</mat-icon>
            </button>
            <button mat-flat-button color="primary" class="button" [disabled]="totalPago <= 0">REGISTRAR
                PAGAMENTO</button>
        </mat-card-actions>
    </mat-card>
</form>