<mat-card>
  <mat-card-header>
    <h3>Inscrição Evento</h3>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <mat-form-field class="item">
        <mat-label>Desbravador</mat-label>
        <input
          type="text"
          matInput 
          [formControl]="myControl"
          [matAutocomplete]="auto"
          (keypress)="onValueChange()"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          [displayWith]="displayFn"
        >
          @for (option of filteredOptions | async; track option) {
          <mat-option
            [value]="option"
            (onSelectionChange)="selecionaRegistro(option)"
            >{{ option.nome }}</mat-option
          >
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="full-width">
        <mat-label class="full-width">Selecione o Evento</mat-label>
        <mat-select class="full-width" [(value)]="selectedEvento">
          @for (evento of eventos; track evento) {
          <mat-option [value]="evento">{{ evento.desc_evento }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="button-container">
      <button
        mat-flat-button
        color="primary"
        class="button"
        (click)="onSubmit()"
      >
        INSERIR
      </button>
    </div>
  </mat-card-content>
</mat-card>
<app-lista-inscricao
  [eventos]="eventos"
  [registros]="options"
></app-lista-inscricao>
