.container {
  margin: 2%;
}

.full-width {
  width: 100%;
}

mat-card {
  background-color: rgba(211, 211, 211, 0.40);
}

.button-container {
  display: flex;
  justify-content: end;
}
.button {
  border-radius: 9999px;
  margin-bottom: 20px;
}
