<mat-action-list>
    @for (inscricao of lista! | sortByName: 'nome'; track inscricao.id) {
    <button mat-list-item class="button">
            <div class="row item-lista">
                <strong><span>{{ inscricao.cadastro?.nome }}</span></strong>
            </div>
            <div class="row item-lista" >
                <div class="col-6">
                    <span>{{ inscricao.evento?.desc_evento }}</span>
                </div>
                <div class="col-6">
                    <span> {{inscricao.evento?.vlr_evento}}</span>
                </div>
            </div>
    </button>
    <mat-divider></mat-divider>
    }
</mat-action-list>