.container {
    padding: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  .example-right-align {
      text-align: right;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
      -moz-appearance: textfield;
  }
  
  
  .button-container {
      display: flex;
      justify-content: end;
  }
  
  .button {
      border-radius: 9999px;
      margin-left: 20px;
      margin-bottom: 20px;
  }

  .no-itens {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


  ul {
    list-style-type: none;
    margin-top: 4px;
  }

  .nome{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .itens {
    padding-top: 25px;
  }

  .col {
    max-width: 100px;
  }

  mat-list-option:nth-child(n){
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 4px;
    height: 70px;
    }