<div class="container">

  <h2 mat-dialog-title>Pagamento</h2>

  <div *ngIf="!itensExistente" class="no-itens">
    <h5>Não há itens para conciliar</h5>
  </div>

  <div *ngIf="itensExistente" mat-dialog-content>
    <span class="example-list-section">
      <ul>
        @for (item of itensRecebimento; track item; let i = $index) {
        <li>
          <mat-checkbox (change)="selecionaItem(item)">
            <div class="row">
              <div class="col">
                {{ getFirstName(item.responsavel!) }}
              </div>
              <div class="col">
                {{item.data | date:'dd/MM/yyyy'}}
              </div>
              <div class="col">
                {{item.valor_item | currency:'BRL'}}
              </div>
            </div>
          </mat-checkbox>
        </li>
        }
      </ul>
    </span>
  </div>
  <div mat-dialog-actions class="button-container">
    <button class="button" mat-flat-button color="secondary" (click)="onCancelUserDialog()">CANCELAR</button>
    <button *ngIf="itensExistente" class="button" mat-flat-button color="primary" [mat-dialog-close]="data"
      cdkFocusInitial>INSERIR</button>
  </div>
</div>