<div class="center">
    <h1>Prestação de Contas</h1>
</div>
<div class="flex-layout">
    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Recibos</mat-card-title>
                <mat-card-subtitle>Start</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-selection-list #recibo [multiple]="false">
                    @for (item of recibos; track item) {
                    <mat-list-option [value]="item.id">{{item.nr_recibo}} - {{item.vlr_recibo}} -
                        {{item.nome_recibo}}</mat-list-option>
                    }
                </mat-selection-list>
            </mat-card-content>
        </mat-card>
        <div class="qtd-selected">
            <p>
                Quantidade Selecionada: {{recibo.selectedOptions.selected.length}}
            </p>
        </div>
    </div>
    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Recibos</mat-card-title>
                <mat-card-subtitle>Inscritos Evento</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-selection-list #inscritos>
                    @for (item of lista; track item) {
                    <mat-list-option [value]="item.cadastro?.id">{{item.cadastro?.nome}}</mat-list-option>
                    }
                </mat-selection-list>
            </mat-card-content>
        </mat-card>
        <div class="qtd-selected">
            <p>
                Quantidade Selecionada: {{inscritos.selectedOptions.selected.length}}
            </p>
        </div>
    </div>
</div>
<div class="button-container">
    <button mat-flat-button color="primary" class="button" (click)="registraRecebimento()" [disabled]="selected()">INSERIR</button>
</div>