.flex-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

mat-card {
    margin: 10px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

mat-card-content {
    overflow: auto;
    flex-grow: 1;
}

.center {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.button {
    border-radius: 9999px;
    margin-bottom: 20px;
}

.qtd-selected {
    margin: 10px;
    font-size: small;
}

.example-form-field {
    width: 100%;
  }