<div class="prestacao-contas-pdf" id="prestacao-contas-pdf" ngxPrint>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Evento</th>
                <th>Valor</th>
                <th>Pago</th>
                <th>Saldo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @for (item of itens; track item) {
                <!-- <td> {{ item.nome }} </td>
                <td> {{ item.evento }} </td>
                <td> {{ item.vlrEvento }} </td>
                <td> {{ item.vlrPago }} </td>
                <td> {{ item.saldo }} </td> -->
                }
            </tr>
        </tbody>
    </table>
</div>