<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Cruzeiro do Sul</span>
        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/recebimento/prestacao-contas">
          <!-- <mat-icon>dialpad</mat-icon> -->
          <span>Prestação de Contas</span>
        </button>
        <!-- <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button> -->
        <button mat-menu-item routerLink="/evento/inscricao">
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <span>Inscrição Evento</span>
        </button>
        <button mat-menu-item routerLink="/recebimento/relatorio">
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <span>Relatório</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
