<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Pagamento</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <mat-form-field class="full-width">
        <mat-label>Desbravador</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" (keypress)="onValueChange()">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
          @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option" (onSelectionChange)="selecionaRegistro(option)">{{option.nome}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>