.filter-dbv {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1rem;
}

.filter-dbv .item {
  flex-grow: 11;
}

.filter-dbv .item-button {
  flex-grow: 1;
}

button {
  border-radius: 99px;
}

.full-width {
  width: 100%;
}

.resp {
  display: flex;
  flex-wrap: nowrap;
}

.width-90 {
  width: 90%;
}


.resp {
  margin-top: 20px;
} 

mat-card {
  background-color: rgb(235, 231, 231);
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 30px auto;
  /* Ensure the card stays on top of other elements */
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}