.full-width {
    width: 100%;
}

.container {
    padding: 20px;
}

.align {
    text-align: justify;
}

.recibo_ok {
    color: green;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    margin-right: 20px;
}

.gera-pdf button {
    border-radius: 999px;
}

@media (width <=500px) {
    .row {
        flex-direction: column;
        justify-content: space-between
    }

    .col {
        flex: 1;
    }
}