<div class="container">
    <div class="col full-width">
        <h1>Lista de Pagamentos</h1>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <mat-label>Filtrar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Responsável ou Recibo" #input>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-label class="full-width">Itens</mat-label>
            <mat-select class="full-width" [(value)]="selectedItem" (selectionChange)="selecionaItem()">
                <mat-option [value]="">Todos</mat-option>
                @for (item of itens; track item) {
                <mat-option [value]="item">{{item}}</mat-option>
                }
            </mat-select>
        </div>
        <div class="col">
            <div class="gera-pdf">
                <button mat-flat-button color="primary" printSectionId="lista-pdf" [useExistingCss]="true" styleSheetFile="./print-pdf.css"
                    ngxPrint>Gerar PDF</button>
            </div>
        </div>

    </div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">

            <ng-container matColumnDef="responsavel">
                <th mat-header-cell *matHeaderCellDef> Responsável </th>
                <td mat-cell *matCellDef="let element"> {{element.responsavel }} </td>
            </ng-container>

            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Data Pagamento </th>
                <td mat-cell *matCellDef="let element"> {{formataData(element.data)}} </td>
            </ng-container>

            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef> Observacao </th>
                <td mat-cell *matCellDef="let element"> {{element.descricao }} </td>
            </ng-container>

            <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef> Item </th>
                <td mat-cell *matCellDef="let element"> {{element.item }} </td>
            </ng-container>

            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let element" class="align">
                    {{formataValor(element.valor)}}</td>
            </ng-container>

            <ng-container matColumnDef="recibo">
                <th mat-header-cell *matHeaderCellDef> Recibo </th>
                <td mat-cell *matCellDef="let element"> {{element.id_recibo}} </td>
            </ng-container>

            <div class="acao">
                <ng-container matColumnDef="acao">
                    <th mat-header-cell *matHeaderCellDef> Ação </th>
                    <td mat-cell *matCellDef="let element"> <button mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <button mat-icon-button [ngClass]="{'recibo_ok' : element.id_recibo > 1 }"
                            [disabled]="element.id_recibo > 1" (click)="openReciboDialog(element)">
                            <mat-icon>check_small</mat-icon>
                        </button>
                    </td>
                </ng-container>
            </div>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div  style="display: none; font-size: 0.5em;" id="lista-pdf" ngxPrint>
            <table>
                <tr>
                    <th>Responsável</th>
                    <th>Data</th>
                    <th>Item</th>
                    <th>Valor</th>
                    <th>Recibo</th>
                  </tr>
                  @for (item of dataSource; track item) {
                <tr style="border: 3px; border-style: solid; padding-right: 10px;">
                    <td>{{item.responsavel}}</td>
                    <td>{{formataData(item.data!)}}</td>
                    <td>{{item.item}}</td>
                    <td>{{formataValor(item.valor!)}}</td>
                    <td>{{item.id_recibo}}</td>
                </tr>
            }
            </table>

    </div>
</div>