<div class="container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container> -->

        <!-- Name Column -->
        <ng-container matColumnDef="responsavel">
            <th mat-header-cell *matHeaderCellDef> Responsável </th>
            <td mat-cell *matCellDef="let element"> {{element.responsavel}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data Pagamento </th>
            <td mat-cell *matCellDef="let element"> {{formataData(element.data)}} </td>
        </ng-container>

        Symbol Column
        <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef> Observacao </th>
            <td mat-cell *matCellDef="let element"> {{element.descricao }} </td>
        </ng-container>

        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let element" class="align"> 
                 {{formataValor(element.valor)}}</td>
        </ng-container>

        <ng-container matColumnDef="recibo">
            <th mat-header-cell *matHeaderCellDef> Recibo </th>
            <td mat-cell *matCellDef="let element"> {{element.id_recibo}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>